$title_color: #4f4f4f;
$blue: #005bff;
$background: #f1f1f1;
$decorate: #acacac;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 960px;

$transition: all 0.15s ease-in-out;

$menu-animation-duration: 400ms;
$menu-animation-timing: ease-out;
